@font-face {
    font-family: neueMachina;
    src: url(../assets/typefaces/PPNeueMachina-Regular.woff);
}

@font-face {
    font-family: neueMachinaUL;
    src: url(../assets/typefaces/PPNeueMachina-Ultralight.woff);
}

body{
    background-color: #F1F3EB;
    color: #1a1a1a;
    overflow: hidden;
    cursor: url('../assets/cursor.png'), auto;
    height: 100vh;
    width: 100vw;
}

a:hover{
    transform: scale(1.2);
    cursor: url('../assets/cursor.png'), auto;
}

a{
  text-decoration: none;
  color: #1a1a1a;
}

h2{
    font-family: neueMachina;
}
/* wordmark appears */
#part-1{
    padding-top: 16%;
}

#angels > img{
    height: 25vh;
}

#angel-1{
    position: absolute;
    left: 40%;
    transform: rotate(-25deg);
    animation: angel1fly 2s forwards ease-in-out, byebye 100ms forwards ease-in 1.9s;
}

#angel-2{
    height: 25vh;
    position: absolute;
    right: 40%;
    transform: rotate(25deg);
    animation: angel2fly 2s forwards ease-in-out;
}

@keyframes angel1fly {
    0%{transform: translate(0%,0%) rotate(-25deg);}
    50%{transform: translate(175%,0%) rotate(-25deg);}
    100%{transform: translate(175%,-128%) rotate(-16deg);}
}

@keyframes angel2fly {
    0%{transform: translate(0%,0%) rotate(25deg);}
    50%{transform: translate(-175%,0%) rotate(25deg);}
    100%{transform: translate(-175%,-128%) rotate(16deg);}
}

@keyframes byebye {
    from{opacity: 1;}
    to{opacity: 0;}
}

#rectangle-1{
    background-color: #F1F3EB;
    height: 20vh;
    width: 40vw;
    position: absolute;
    left: 50%;
    animation: rect1slide 1s forwards ease-in-out;
}

#rectangle-2{
    background-color: #F1F3EB;
    height: 20vh;
    width: 40vw;
    position: absolute;
    right: 50%;
    animation: rect2slide 1s forwards ease-in-out;
}

@keyframes rect1slide {
    0%{transform: translate(0%,0%);}
    100%{transform: translate(250%,0%); opacity: 0;}
}

@keyframes rect2slide {
    0%{transform: translate(0%,0%);}
    100%{transform: translate(-250%,0%); opacity: 0;}
}

#wordmark-4{
    position: absolute;
    top: 25%;
    left: 15%;
    width: 70vw;
    opacity: 0;
    animation: goUp 2s forwards ease-in-out;
}

@keyframes goUp {
    0%{transform: translate(0%,0%); opacity: 0;}
    50%{transform: translate(0%,0%); opacity: 1;}
    100%{transform: translate(0%,-18%); opacity: 1;}
}

/* MAIN SITE */
#main-site {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    position: absolute;
    opacity: 0;
    animation: hello 700ms forwards 1.9s ease-in-out;
}

@keyframes hello {
    from{opacity: 0%;}
    to{opacity: 100%;}
}

#site-content{
    width: 85vw;
    z-index: 4;
    height: 100vh;
    overflow: hidden;
}

/* navigation */
#navigation{
    width: 15vw;
}

#cart-box{
    font-family: ocr-a-std,monospace;
    font-weight: 400;
    font-style: normal;
    height: 35vh;
}

#cart-box>img{
    height: 26vh;
}

.cart{
    display: none;
}

.cart:hover{
    transform: scale(1.2);
}

#cart-box>h2{
    color: #bbe577;
    rotate: -19deg;
    position: absolute;
    right: 5%;
    top: 14%;
    font-size: 100%;
    transform: skewX(20deg);
}

#menu{
    height: 62vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#menu>a>img{
    height: 20vh;
    object-fit: contain;
    filter: drop-shadow(0.5rem 0.5rem 0.6rem  #1a1a1a);
}

#categories, #index, #search{
    margin-top: -20%;
}

#minibar{
    display: inline-flex;
    font-family: neueMachina;
    margin-left: 37%;
}

#about{
    width: 5vw;
    transform: skew(20deg);
}

#currency{
    transform: skew(30deg);
}

#help{
    display: inline-flex;
    position: absolute;
    bottom: 0;
    left: 0;
}

#help > img{
    height: 13vh;
}

#help > h2{
    rotate: -20deg;
}

/* stars */
.star{
    z-index: -1;
}

#yellow-star-1{
    position: absolute;
    top: 10%;
    animation: rotate 3s infinite alternate-reverse ease-in-out, showing-animation 300ms forwards ease-in-out, falling 600ms forwards 800ms ease;
}

#yellow-star-1 >path, #yellow-star-2>path {
    animation: colorSwitch1 3s infinite ease-in-out alternate-reverse;
}

#yellow-star-2{
    position: absolute;
    bottom: 10%;
    right: 0;
    animation: rotate 2s infinite alternate-reverse ease-in-out, showing-animation 300ms forwards 100ms ease-in-out, fallingshort 600ms forwards 800ms ease ;

}

#purple-star-1{
    position: absolute;
    top: 10%;
    right: 10%;
    animation: pop 1s infinite alternate-reverse ease-in-out, showing-animation 200ms forwards 200ms ease-in-out, falling 600ms forwards 800ms ease;

}

#purple-star-2{
    position: absolute;
    bottom: 15%;
    left: 10%;
    animation: pop 2s infinite alternate-reverse ease-in-out, showing-animation 200ms forwards 300ms ease-in-out, fallingshort 600ms forwards 800ms ease;
}

#purple-star-1>path, #purple-star-2>path {
    animation: colorSwitch1 5s infinite ease-in-out alternate-reverse 800ms;
}

#blue-star-1{
    position: absolute;
    bottom: 19%;
    left: 50%;
    animation: slide 2s infinite alternate-reverse ease-in-out, showing-animation 200ms forwards 400ms ease-in-out, fallingshort 600ms forwards 800ms ease;
}

#blue-star-2{
    position: absolute;
    bottom: 30%;
    right: -10%;
    animation: slide 2s infinite alternate-reverse ease-in-out, showing-animation 200ms forwards 600ms ease-in-out, fallingshort 600ms forwards 800ms ease;
}

#blue-star-1>path, #blue-star-2>path {
    animation: colorSwitch1 7s infinite ease-in-out alternate-reverse 1s;
}

/* objects */
#objects{
    max-height: 100vh;
    max-width: 85vw;
    overflow: hidden;
    overflow:-moz-hidden-unscrollable;
}

#site-content>img{
    min-height: 10vh;
    max-height: 90vh;
}

#site-content>img:hover{
    transform: scale(1.1);
}


#object-1{
    position: absolute;
    height: 40vh;
    top: 5%;
}

#object-15{
    position: absolute;
    height: 25vh;
    top: 1%;
    left: 30%;
}

#object-28{
    position: absolute;
    height: 40vh;
    bottom: -5%;
    rotate: -30deg;
}

#object-75{
    position: absolute;
    height: 50vh;
    right:2%;
    top: 50%;
    rotate: 10deg;
}

#object-76{
    position: absolute;
    height: 40vh;
    left: 40%;
    bottom: 1%;
}

#object-89 {
    position: absolute;
    height: 30vh;
    right: 22%;
    top: 40%;
    rotate: -20deg;
}

#object-106 {
    position: absolute;
    height: 40vh;
    top: 32%;
    rotate: 20deg;
}

#object-111 {
    position: absolute;
    height: 50vh;
    rotate: -30deg;
    top: 18%;
    left: 18%;
}

#object-134 {
    position: absolute;
    top: 18%;
    height: 25vh;
    right: 15%;
    rotate: 30deg;
}

#object-152 {
    position: absolute;
    height: 25vh;
    top: 10%;
    right: 30%;
}

#object-193 {
    position: absolute;
    height: 25vh;
    top: 17%;
    left: 40%;
    rotate: 40deg;
}

#object-237 {
    position: absolute;
    height: 15vh;
    top: 30%;
    right: 5%;
    rotate: -30deg;
}

#object-250 {
    position: absolute;
    height: 25vh;
    rotate: -30deg;
    bottom: 10%;
    right: 30%;
}

#object-270 {
    position: absolute;
    height: 30vh;
    top: 30%;
    right: 37%;
}

#object-326 {
    position: absolute;
    height: 50vh;
    rotate: -35deg;
    bottom: -9%;
    left: 18%;
}

/* star animations */
@keyframes rotate {
    from{transform: rotate(0deg); fill: blue;}
    to{transform: rotate(360deg);}
}
@keyframes pop {
    from{transform: scale(1);}
    to{transform: scale(1.7);}
}
@keyframes slide {
    from{transform: skew(0);}
    to{transform: skew(20deg);}
}

@keyframes colorSwitch1 {
    25%{fill: #F2F244;}
    50%{fill: #B5F240;}
    75%{fill: #0C6596;}
    100%{fill: #8A69ED;}
}

/* display/hide */
.hide{
    display: none;
}

.show{
    display: block;
}

/* add to cart */
.in-cart{
    transform: scale(0.1) rotate(0deg);
}